={
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans serif;
    font-family: lucida sans, geneva, tahoma;
    font-family: gill-sans, georgia, cambria;
}

body{
    margin: 0;
    padding: 0;
    font: 15px)1.5 arial, helvetica, sans serif;
    background-color: rgb(109, 100, 100);
}

.container{
    width: 80%;
    margin: 0;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* header */
header{
    background-color: black;
    color: #ffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    min-height: 40px;
    border-bottom: #ffff 3px solid;
}

header a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 20px;     
}

header li{
    float: left;
    display: inline;
    padding: 0 30px 0 30px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin: 10px;
}

header .highlight, header .current a {
    color: gold;
    font-weight: bold;
}

header a.hover{
    color: green;
    font-weight: bold;
}

#showcase{
    min-height: 600px;
    background: url("weight.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    font-weight: bolder;
    margin-bottom: 40px;
    padding-left: 20px;
}

#showcase{
    margin-top: 0;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #ffff;
    font-weight: bolder;
}

#showcase p{
    font-size: 20px;
    text-align: left;
    color: gold;
    font-weight: bolder;
    padding-left: 20px;
    
}

#meet{
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
}

button{
    height: 42px;
    background: black;
    border: 0;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    float: left;
    width: 150px;
    font-size: 15px;   
}

button:hover{
    background: gold;
    font-weight: bold;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boxes{
    margin-top: 40px;
    padding-left: 15%;
}

#boxes .box{
    float: left;
    text-align: center;
    
    padding: 10px;
    color: #ffff;
}

#boxes .box img{
    width: 400px;
    border: 20px;
    border-radius: 15px;
    border-weight: bolder;
}

footer{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #ffff;
    background-color: gold;
}

.text{
    padding: 40px;
}

.main{
    font-size: 18px;
}

.main h1{
    color: #ffff;
    text-align: center;
    float: left;
}

.main h3{
    color: #ffff;
    text-align: center;
    float: left;
}
.main p{
    color: #ffff;
    text-align: center;
    float: left;

}

p{
    color: #ffff;
    font-size: 20px;
}


@media(max-width: 700px){
    #showcase h1{
        font-size: 30px;
        line-height: 50px;
    }

    #boxes .box{
        font-size: 16px;
        padding: 40px;
        text-align: center;
        float: center;
    }

    #boxes .box img{
        width: 400px;
        text-align: center;
        
    }   
}

h3{
    margin: auto;
    font-size: 36px;
    font-weight: 600px;
}

h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600px;
    padding-left: 20px;
    padding-top: 10px;

}